<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python311\python.exe|C:\Path\To\Your\App\flask_app.fcgi" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\Users\Administrator\AppData\Local\Programs\Python\Python311\python.exe">
                <environmentVariables>
                    <environmentVariable name="FLASK_APP" value="flask_app" />
                    <environmentVariable name="FLASK_ENV" value="development" />
                </environmentVariables>
            </application>
        </fastCgi>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <httpErrors errorMode="Detailed" />
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
